/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3770125 */
  src: url('https://at.alicdn.com/t/c/font_3770125_wsyogcwxz8.woff2?t=1668755103585') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3770125_wsyogcwxz8.woff?t=1668755103585') format('woff'),
       url('https://at.alicdn.com/t/c/font_3770125_wsyogcwxz8.ttf?t=1668755103585') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3column:before {
  content: "\e663";
}

.icon-column-4:before {
  content: "\e664";
}

.icon-add:before {
  content: "\e665";
}

.icon-add-circle:before {
  content: "\e666";
}

.icon-adjust:before {
  content: "\e667";
}

.icon-arrow-up-circle:before {
  content: "\e668";
}

.icon-arrow-right-circle:before {
  content: "\e669";
}

.icon-arrow-down:before {
  content: "\e66a";
}

.icon-ashbin:before {
  content: "\e66b";
}

.icon-arrow-right:before {
  content: "\e66c";
}

.icon-browse:before {
  content: "\e66d";
}

.icon-bottom:before {
  content: "\e66e";
}

.icon-back:before {
  content: "\e66f";
}

.icon-bad:before {
  content: "\e670";
}

.icon-arrow-double-left:before {
  content: "\e671";
}

.icon-arrow-left-circle:before {
  content: "\e672";
}

.icon-arrow-double-right:before {
  content: "\e673";
}

.icon-caps-lock:before {
  content: "\e675";
}

.icon-prompt-filling:before {
  content: "\e68b";
}

.icon-meh-filling:before {
  content: "\e68c";
}

.icon-cry-filling:before {
  content: "\e689";
}

.icon-top-filling:before {
  content: "\e68d";
}

.icon-home-filling:before {
  content: "\e68e";
}

.icon-sorting:before {
  content: "\e68f";
}

.icon-more:before {
  content: "\e6a7";
}

.icon-user:before {
  content: "\e71d";
}

.icon-xinwen:before {
  content: "\e650";
}

.icon-richeng:before {
  content: "\e629";
}

.icon-home:before {
  content: "\e674";
}

